<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Automation Suite"
       parallel="methods"
       thread-count="2">

    <!-- ================= Login Tests ================= -->
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <!-- ================= Dropdown Tests ================= -->
    <test name="Dropdown Tests">
        <classes>
            <class name="tests.DropdownTest"/>
        </classes>
    </test>

</suite>
